*{
    font-family: 'Arial', sans-serif;
}
html{
    font-size: 10px;
}
body{
    font-size: 1.6rem;
    padding: 6rem;
}
input{
    width: 100%;
    font-size: 1.2em;
}

.card-grid{
    display: flex;
    flex-flow: row wrap;
}

.card{
    align-content: center;
    border: 1px solid gray;
    border-radius: 0.6rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
}
.card p{
    padding: 0.5rem;
    text-align: center;
}
.card img{
    height: auto;
    max-height: 16rem;
}